<!-- app/views/user_mailer/match_notification.html.erb -->
<p>Howdy!</p>
<p>You can view contact information for your new match on <a href="https://stage-test-app-sprint-3-67a809b72ad4.herokuapp.com/"> Jimmy</a>.</p>
<p>Best regards,<br>Your Matching Team</p>
