<h1 class='text'>Let's get you started! Do you want to...</h1>
<%= button_to("Fill out only the basic information", {controller: 'students', action: 'new'}, method: :get)%>
<h1 class='text'> or... </h1>

<%# TODO implement the extensive profile option %>
<%= button_to("Compelete the whole profile!", {controller: 'students', action: 'new'}, method: :get)%>
