<%= render(partial:'back', locals:{c: "landing", a: "new"})%>
<body>
  <h1 class='students-text'>Let's get started! <br/> Do you want to...</h1>
  <%= button_to("Fill out only the basic information", {action: 'basic'}, method: :get, class: "students-button")%>
  <h1 class='students-text'> or... </h1>

  <%# TODO implement the extensive profile option %>
  <%= button_to("Complete the whole profile!", {controller: 'students', action: 'new'}, method: :get, class: "students-button")%>
</body>
