<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'navbar', media: 'all', 'data-turbolinks-track': 'reload' %>
  <title>Jimmy</title>
</head>

<body>
  <div class="edit-profile-main edit-profile-info info-row-top-padding">
  <div class="students-listed-info-div">
      <div class="info-row">
        <div class="info-row-title">Update Workout Time Preference</div>
          <%= image_tag asset_path("forward_arrow"), class: "forward-arrow", alt: "Instagram Link" %>
        </div>
        <div class="info-row">
          <div class="info-row-title">Update Gym Location Preference</div>
          <%= image_tag asset_path("forward_arrow"), class: "forward-arrow", alt: "Instagram Link" %>
        </div>
        <div class="info-row">
          <div class="info-row-title">Update Activity Preference</div>
          <%= image_tag asset_path("forward_arrow"), class: "forward-arrow", alt: "Instagram Link" %>
        </div>
    </div>
    </div>
</body>
