<!-- app/views/landing/_footer.html.erb -->
<footer class="footer">
  <div class="footer-content">
    <p>
      Copyright © 2024
    </p>
    <p>
      <a href="https://www.guidestar.org/profile/92-0649381" target="_blank" rel="noopener noreferrer">Teamup</a> is a 501(c)(3) nonprofit organization.
    </p>
    <p>
      Donations are tax-deductible.
    </p>
  </div>
</footer>
