<!-- app/views/landing/_footer.html.erb -->
<footer class="footer">
  <div class="footer-content">
    <p>
      Copyright © 2024
    </p>
    <p>
      <a href="https://teamup.org/" target="_blank" rel="noopener noreferrer">Teamup</a> is a 501(c)(3) nonprofit organization.
    </p>
  </div>
</footer>
