<footer class="footer">
  <div class="footer-content">
    <p>
      Copyright © 2024
    </p>
    <p>
      <a href="https://teamup.org/" target="_blank" rel="noopener noreferrer">Teamup</a> is a 501(c)(3) nonprofit organization.
    </p>
    <div class="social-links">
      <a href="https://www.instagram.com/teamuporg/" target="_blank" rel="noopener noreferrer" aria-label="Teamup Instagram">
        <i class="fa-brands fa-instagram" alt="Instagram"></i>
      </a>
      <a href="https://www.facebook.com/teamup.org" target="_blank" rel="noopener noreferrer" aria-label="Teamup Facebook">
        <i class="fa-brands fa-facebook-f" alt="Facebook"></i>
      </a>
      <a href="https://www.linkedin.com/company/teamorg/" target="_blank" rel="noopener noreferrer" aria-label="Teamup Linkedin">
        <i class="fa-brands fa-linkedin-in" alt="Linkedin"></i>
      </a>
      <a href="mailto:hello@teamup.org" target="_blank" rel="noopener noreferrer" title="hello@teamup.org" aria-label="Teamup Email">
        <i class="fa-solid fa-envelope" alt="Email"></i>
      </a>
    </div>
  </div>
</footer>
