<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../index.css">
    <title>Jimmy</title>
</head>
<body>
    <!-- logo -->
    <img class="landing_logo" src="../../images/jimmy_logo.jpg"/>

    <!-- intro -->
    <div class="landing_title">
        <h1>Jimmy</h1>
        <p>The TAMU Gym Buddy Matching App</p>
    </div>
    <br/>

    <!-- below could be links too -->
    <!-- the onclick part should be a function in the controller to determine
    where the user is taken to after log in -->
    <button aria-label="Log in or sign up" onclick="window.location.href='./sign_up.html'"> Log in / Sign up </button>
    
</body>
</html>