<%= image_tag asset_path("jimmy_logo.jpg"), class: "landing-logo", alt: "Jimmy Logo" %>

<body class="top-pad">
  <div class="landing-title landing-bg" >
    <h1>Jimmy</h1>
    <p>The TAMU Gym Buddy Matching App</p>
  </div>
  <br/>
  
  <%# This button should invoke the Google OAuth%>
  <%= button_to("Log in / Sign up", account_google_oauth2_omniauth_authorize_path, method: :post, class: 'landing-button', data: { turbo: false }) %>
  <%= render 'footer' %>

</body>