<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "index", media: "all" %>
  <title>Jimmy</title>
</head>
<body>
  <!-- logo -->
  <%= image_tag asset_path("jimmy_logo.jpg"), class: "landing-logo", alt: "Jimmy Logo" %>


  <!-- intro -->
  <div class="landing-title">
      <h1>Jimmy</h1>
      <p>The TAMU Gym Buddy Matching App</p>
  </div>
  <br/>

  <!-- below could be links too -->
  <!-- the onclick part should be a function in the controller to determine
  where the user is taken to after log in -->
  
  <%= button_to("Log in / Sign up", {action: 'new'}, method: :get)%>
    
    
</body>
</html>