<%= render(partial:'/students/back', locals:{c: "landing", a: "index", s: "back-btn"})%>

<body>
  <h1 class="new-account-message">Seems like you're new to Jimmy...</h1>

  <%# This button leads to the profile creation process%>
  <%= button_to("Create A Profile", {controller: 'students', action: 'new'}, method: :get, class: "landing-button")%>
</body>
