<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jimmy</title>
</head>
<body>
  <!-- logo -->
  <!-- intro -->
  <div class="landing-title">
      <p>You're signed in!</p>
      <p>Your matches.</p>
  </div>
  <br/>
  <!-- below could be links too -->
  <!-- the onclick part should be a function in the controller to determine
  where the user is taken to after log in -->
</body>
</html>
