<nav class="material-header">
    <div class="material-banner">
      <%= link_to dest,  class: "navbar-link material-back-button" do %>
        <%= image_tag('back_arrow.png', alt: 'Back', class: 'back-arrow-icon') %> Back
      <% end %>
      <h1 class="material-title"> <%=name%>'s Profile</h1>
      <span class="material-spacer"></span>
    </div>
</nav>