/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* add this to your CSS file, e.g., app/assets/stylesheets/application.css */

/* shared */

:root {
  --primary-text-color: #554838;
  --primary-bg-color: #F7E9CE;
  --accent-color: #b68d60;
  --accent-darkened: #a27850;
}

body, html {
  background-color: #F7E9CE!important;
  margin:0px;
  font-family: 'Roboto', sans-serif!important;
  overflow-x: hidden;
}

.top-pad {
  margin-top: 5%;
}

.back-btn {
  cursor: pointer;
  font-size: medium;
  height: 3rem;
  margin-top: 1.5rem;
  border-color: tan;
  color: tan;
  background-color: antiquewhite;
  border-radius: 0.25rem;
  display: block;
  position: relative;
  left: 1%;
}

.info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(243, 219, 174); /* Example color */
  margin-bottom: 10px;
  border-radius: 8px;
  color: var(--primary-text-color);
  text-decoration: none;
  transition: background-color 0.3s, box-shadow 0.2s;
  -webkit-tap-highlight-color: transparent; /* Prevents the mobile browser from highlighting the button on tap */
}


.info-row-title {
  font-weight: bold;
  padding: 1rem;
  flex-basis: 20%;
  text-align: left;
  white-space: nowrap;
  min-width: 10rem;
  text-decoration: none;
}

.info-row-content {
  padding: 1rem;
  flex-basis: 60%; /* Adjust as needed to control the width of the content */
  text-align: left;
}

.info-row-top-padding {
  padding-top: 12%;
}

.info-row:hover {
  background-color: #f1d39b; /* Darker shade for hover state */
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Elevation effect */
  text-decoration: none!important; /* Removes the underline */
  color: var(--primary-text-color); /* Keeps the color the same as it was without hover */
}

.info-row:focus {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #f1d39b; /* Focus state with outer and inner rings */
}

.info-row:active {
  background-color: #ebbd67; /* Even darker shade for active/click state */
  box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Simulate "pressed" effect by reducing elevation */
}

.info-row:disabled {
  background-color: #E0E0E0; /* Disabled state color */
  color: #9E9E9E;
  cursor: default;
  box-shadow: none;
}

.right-placeholder {
  font-size: 1rem;
  margin: 0;
  color: #f3dbae;
  flex-grow: 1;
  justify-content: end;
  user-select: none;
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none;
}

.hidden-arrow {
  visibility: hidden;
}

/* Search Bar/Button, checkboxes styling */
.btn-primary {
  /* Style the Search button */
  padding: 8px 15px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-bar {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 0.5rem;
}

#search-input {
  width: 70%; /* Adjust as needed */
}

#search-submit {
  width: auto;
  margin-top: 10px;
}

.gender-filters {
  text-align: center;
  margin-bottom: 20px;
}

.gender-filters label {
  display: inline-block;
  margin-right: 10px; /* Adjust as needed for spacing */
}

.gender-filters input[type="checkbox"] {
  margin-right: 5px; /* Adjust as needed for spacing */
}

/* Search Results table styling */
.user-info-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.user-info-table th, .user-info-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.user-info-table th {
  background-color: #f2f2f2;
}

.user-info-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}


/* Footer styling */
.footer {
  background-color: #f3dbae; /* Choose a background color that fits your design */
  text-align: center;
  padding: 20px 0; /* Increase padding to give more space */
  position: absolute; /* Change to 'fixed' if you want it to stay at the bottom of the screen */
  left: 0;
  bottom: 0;
  width: 100%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* This is a common and clean font choice */
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1); /* Optional: Adds a shadow to the top of the footer */
}

.footer-content p {
  margin: 0; /* Removes default margin */
  font-size: 1.0rem; /* Increases the font size */
  line-height: 1.6; /* Adjusts the space between lines */
  color: black; /* Sets the text color */
}

/* Link styling */
.footer a {
  color: #003e7b; /* Color for the link */
  text-decoration: none; /* No underline */
}

.footer a:hover {
  text-decoration: underline; /* Underline on hover for better user experience */
}

/* landing */
.landing-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-align: center;
  color: black;
}

.landing-logo {
  height: 12rem ;
  border-radius: 0.25rem;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.new-account-message {
  padding-top: 10%;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-align: center;
  color: tan;
}

.landing-button {
  height: 3rem; /* Increased from 2rem to 3rem */
  margin-top: 1.5rem; /* Increased from 1rem to 1.5rem */
  border-color: black;
  color: black;
  background-color: #f3dbae;
  border-radius: 0.25rem;
  font-size: 1.25rem; /* Increase font size for better readability */
  display: block;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  padding: 0.5rem 1rem; /* Added padding for better text spacing within the button */
  border-width: 2px; /* Optionally increase border width for a more pronounced border */
}

/* home */
.home-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-align: center;
  color: tan;
  padding-top: 5%;
}

.social-links {
  margin-top: 8px;
}

.social-links a {
  color: tan; /* Sets the icon color to red */
  margin-right: 15px; /* Spacing between icons */
  text-decoration: none; /* Removes the underline from links */
}

.social-links a:hover {
  opacity: 0.8; /* Adds a hover effect */
}

.social-links i {
  font-size: 1.5em; /* Icon size */
}

/* Tooltip styling */
.social-links a[title]:hover:after {
  content: attr(title);
  position: absolute;
  left: 100%; /* Adjust the position as needed */
  top: 60%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  z-index: 20;
  background-color: #222; /* Tooltip background */
  color: #fff; /* Tooltip text color */
  padding: 5px 8px;
  border-radius: 0.25rem;
  font-size: 0.75em;
  line-height: 1;
}

.social-links a[title] {
  position: relative; /* Required for absolute positioning of the tooltip */
}


/* Add responsiveness to the table */
@media (max-width: 768px) {
  .students-info-table {
    width: 100%;
  }
}


.nav-link {
  font-weight: bold;
  font-size: 16pt; /* 16pt is roughly equivalent to 21px */
  padding: 0.5rem 2rem!important!important; /* Increase the space around the links */;
  color: var(--primary-text-color); /* Use a CSS variable for the text color */
}

/* Adjust the navbar padding for better alignment */
.navbar-nav {
  align-items: center; /* Centers the links vertically */
}
/* .navbar-collapse-permanant{
  background-color: #f3dbae;
  width:100%;
  display:flex;
  flex-direction: row;

} */
.navbar-text{
  color: var(--primary-text-color)!important;
  font-size: 1.3rem;
  line-height: 1.3rem;
  text-decoration: none;
}

.navbar-text:hover {
  text-decoration: underline;
}



.nowrap-div {
  display: flex;
  flex-wrap: nowrap;
}

.styled-back{
  font-size: 1rem;
  font-weight: 100;
}

.navbar .container {
  width: 100%;
  position: relative;
}

/* Center the title */
.navbar h1 {
  white-space: nowrap;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;;
  left: 50%;
  top: 50%;
}


/* This class is added to an element that comes after the h1 */
.navbar-brand::after {
  content: '';
  display: inline-block;
  width: 100%;
}

/* Adjust the back arrow and text to be inline and align at the start */
.navbar-brand {
  font-weight: bold;
  color: var(--primary-text-color)!important;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 0;
  flex-shrink: 0;
}

/* Use media queries if the navbar-brand should be hidden or styled differently on smaller screens */
@media (max-width: 768px) {
  
  .navbar-brand::after {
    display: none;
  }
}

@media (max-width: 768px) {
  .inner_navbar_container{
    padding: 0px!important;
  }
}


.icon {
  background: --var(--primary-text-color); /* Or any color you want */
  -webkit-mask: url('instagram_icon.png') no-repeat center / contain;
          mask: url('instagram_icon.png') no-repeat center / contain;
}
