.navbar {
    background-color: #f3dbae; /* Slightly darker shade for contrast */
    padding: 0.5rem 1rem; /* Increased padding for more space */
    height:70px;
    display: flex;
    align-items: center;
    justify-content: center; /* Center the items horizontally */
    position: sticky;
    bottom: 0; /* Stick to the bottom of the viewport */
    z-index: 1000;
    box-shadow: 0 -2px 4px rgba(0,0,0,0.1); /* Shadow adjusted to appear on the top edge */
    font-family: "Roboto", sans-serif;
  }
.navbar-link {
  text-decoration: none;
  color: var(--primary-text-color); /* Darker color for better readability */
  font-size: 20px; /* Increased font size */
  font-weight: 500; /* Medium weight for a bolder look */
  padding: 0 20px; /* Increased padding for more space */
  transition: color 0.3s ease; /* Smooth transition for hover effects */
}

.navbar-link:hover {
  color: #362c1a; /* Even darker shade on hover for better visibility */
  text-decoration: none; /* Removed underline to keep it clean */
  background-color: #e7d5b8; /* Light background on hover for highlight */
  border-radius: 5px; /* Rounded corners for background highlight */
}

.container-fluid{
  padding-left: 15px!important;
  padding-right: 15px!important;
}
