.edit-back-btn {
  cursor: pointer;
  font-size: medium;
  height: 3rem;
  margin-top: 1.5rem;
  border-color: black;
  color: black;
  background-color: rgb(243, 219, 174);
  border-radius: 0.25rem;
  display: block;
  position: relative;
  left: 1%;
}

.edit-edit-btn{
  position: inherit;
  float: right;
  margin-top: 1rem;
}

.edit-save-btn{
  cursor: pointer;
  font-size: medium;
  height: 3rem;
  margin-top: 1.5rem;
  border-color: black;
  color: black;
  background-color: rgb(243, 219, 174);
  border-radius: 0.25rem;
  display: block;
  position: relative;
}

.edit-profile-picture{
    margin-top: 2rem;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #FAFAFA;
    box-shadow: 0 0 0 5px #e2e2e2;
}

.profile-picture-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.edit-profile-main{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: roboto, sans-serif;
    flex-direction: column;
}

.edit-profile-form{
    width: 50%
}

.students-edit-info-form{
    text-align: left;
    border-spacing: 1rem;
    width: 400px;
}

.students-edit-info-form-row{
    padding: 5rem!important;
    width: 100%;
    margin-bottom: 10px;
}

.custom-styled-input{
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid #e2e2e2;
    margin-top: 1rem;
}

.students-listed-info-div {
    width: 500px;
    font-family: roboto, sans-serif;
}
  
.info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(243, 219, 174); /* Example color */
    margin-bottom: 10px;
    border-radius: 8px;
}
  
.info-row-title {
    font-weight: bold;
    padding: 1rem;
    flex-basis: 20%; /* Adjust as needed to control the width of the title */
    text-align: left;
    white-space: nowrap;
    min-width: 7rem;
}
  
.info-row-content {
    padding: 1rem;
    flex-basis: 60%; /* Adjust as needed to control the width of the content */
    text-align: left;
}

.info-row-top-padding {
    padding-top: 12%;
}

.forward-arrow{
    max-height: 2rem;
    max-width: 2rem;
    margin-right: 1rem;
}

