body{
  background-color:#F7E9CE;
  padding-top: 10%;
}

.text{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color:tan;
}

button{
    font-size: medium;
    height: 2rem;
    margin-top: 1rem;
    border-color: tan;
    color:tan;
    background-color: antiquewhite;
    border-radius: 5px;
    display: block;
    position: relative;
    left: 50%;
    transform: translate(-50%)
  }