.workoutpref-landing-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-align: center;
}

.edit-workoutpref-div{
  max-height: 25rem;
  overflow-y: auto;
}

.edit-workoutpref-table{
  background-color: rgb(243, 219, 174);
  padding: 0.5rem;
  border-radius: 8px;
  border-collapse: separate;
  border-spacing: 1rem 0.25rem;
  justify-content: space-between;
  font-family: roboto, sans-serif;
  margin-left: auto;
  margin-right: auto;
  min-width: max-content;
  text-align: left;
}

.edit-workoutpref-add-btn{
  border: 0rem;
  background-color: rgb(243, 219, 174);
  font-size: large;
  font-weight: 500;
  cursor: pointer;
}

.experience-select-div{
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: medium;
}

label.radio-label {
  margin-bottom: 0.75rem; /* Adjust the margin as needed */
}

input[type="radio"] {
  margin-bottom: 0.75rem; /* Adjust the margin as needed */
}