.workoutpref-landing-title {
  margin-top: 3rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-align: center;
}

.edit-workoutpref-div{
  padding-top:0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #F3DBAE;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  width: 100%;  
  max-height: 25rem;
  overflow-y: auto;
  overflow-x: auto;
}

.edit-workoutpref-table{
  width: 100%;
  background-color: rgb(243, 219, 174);
  padding: 0.5rem;
  border-radius: 8px;
  border-collapse: collapse;
  border-spacing: 1rem 0.25rem;
  justify-content: space-between;
  font-family: roboto, sans-serif;
  margin-left: auto;
  margin-right: auto;
  min-width: max-content;
  max-width: 100%;
  text-align: left;
}

.edit-workout-pref-table-tr {
  width:100%;
  border-bottom: 1px solid var(--primary-text-color);
}

.edit-workout-pref-table-tr td, .edit-workout-pref-table-add-tr td {
  padding: 0.5rem;
}

.table-icon{
  height: 2rem;
  width: 2rem;
}

.edit-workoutpref-add-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0rem;
  background-color: rgb(243, 219, 174);
  font-size: large;
  font-weight: 500;
  cursor: pointer;
}

.experience-select-div{
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: medium;
}

.edit-time-table-ch{
  width: 4rem;
  text-align: center;
}

.edit-time-table td{
  text-align: center;
  border-bottom: 1px solid black;
  height: 2rem;
}

.edit-time-table tr{
  border-bottom: 1px solid black;
}

.edit-time-table-div{
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.edit-time-table-div form{
  width: 100%;
}

.edit-gym-select-div{
  margin-left: auto;
  margin-right: auto;
  max-width: max-content;
}

.gym-edit-btn{
  margin-left: auto;
  margin-right: auto;
}

.edit-save-btn{
  cursor: pointer;
  font-size: medium;
  height: 3rem;
  margin-top: 1.5rem;
  border-color: black;
  color: black;
  background-color: rgb(243, 219, 174);
  border-radius: 0.25rem;
  display: block;
  position: relative;
}

.radio-label-pair{
  display: flex;
  flex-wrap: nowrap;
  margin: 1rem 0rem;
}

.new_activity_preference{
  width:100%;
}

/* CSS */
.experience-select-btn label {
  display: inline-block; /* or inline */
  margin-right: 10px; /* Adjust as needed */
}

label.radio-label {
  margin-bottom: 0.75rem; /* Adjust the margin as needed */
  display: inline;
}

input[type="radio"] {
  margin-bottom: 0.75rem; /* Adjust the margin as needed */
}

.time-pref-edit-submit-btn{
  margin-top: 1rem;
}

.edit-workoutpref-div::-webkit-scrollbar {
  width: 1rem; /* width of the entire scrollbar */
}

.edit-workoutpref-div::-webkit-scrollbar-track {
  background: #f3dbae; /* color of the tracking area */
  border-radius: 1rem;
}

.edit-workoutpref-div::-webkit-scrollbar-thumb {
  background-color: #b68d60; /* color of the scroll thumb */
  border-radius: 1rem; /* roundness of the scroll thumb */
  border: 3px solid #f3dbae; /* creates padding around scroll thumb */
}

.edit-workoutpref-div::-webkit-scrollbar-thumb:hover {
  background: #a27850;
}

.timetable-row{
  border-bottom: 0px var(--primary-text-color)!important;
  border-top: 1px solid var(--primary-text-color)!important;
  height: 3rem;
}

.time-table-div{
  max-height: none!important;
}

.time-table-header-row{
  height:2.5rem;
}

.edit-timepref-table{
  text-align: center;
}

.gym-select-form select{
  width: 100%;
  margin-bottom: 2rem;
  font-family: "Roboto", sans-serif;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  box-sizing: border-box;
}