.edit-workoutpref-table{
  background-color: rgb(243, 219, 174);
  padding: 0.5rem;
  border-radius: 8px;
  border-collapse: separate;
  border-spacing: 1rem 0.25rem;
  justify-content: space-between;
  font-family: roboto, sans-serif;
  margin-left: auto;
  margin-right: auto;
  min-width: max-content;
}

.edit-workoutpref-add-btn{
  border: 0rem;
  background-color: rgb(243, 219, 174);
  font-size: large;
  font-weight: 500;
  cursor: pointer;
}