<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'navbar', media: 'all', 'data-turbolinks-track': 'reload' %>
  <title>Jimmy</title>
</head>

<body>
  <h1 class="activity-landing-title"> Add some activities you are interested in ... </h1>
  <div class="edit-workoutpref-div">
  <table summary="Added activities" class="edit-workoutpref-table">
    <tr>
      <th>Name</th>
      <th>Experience</th>
    </tr>
    <% @activities.zip(@exp_levels).each do |activity, exp| %>
    <tr>
      <td><%= activity%></td>
      <td><%= exp %></td>
    </tr>
    <% end %>

    <tr>
      <td> Add Activity </td>
      <td> </td>
      <td> <%= render(partial:'add', locals:{c: "activities", a: "new"}) %> </button>
  </table>
  </div>
</body>